body {
    background-color: rgb(27, 45, 53);
}

.navbarclass {
    display: inline;
    justify-content: center;
    align-items: center;
}

.nav-title {

    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(27, 45, 53);
    color: aliceblue;
    text-decoration: none;
}

.main-container {
    position: relative;
    width: 500px;
    height: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    padding: 12px 32px;
    background: #1b2d35;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-sec {
    position: relative;
    bottom: 35px;
}

.top-sec div {
    color: #1f3540;

}

.top-sec .logo {
    background: url(./img/navhead.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-sec .turn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #babecc;
    font: 2em sans-serif;
    background-color: #1f3540;
}

.top-sec .reset {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font: 2em sans-serif;
    background-color: #babecc;


}

.btn-class , .reset {
    cursor: grab;
    text-align: center;
    height: 90px;
    text-align: center;
    font-size: 2.4rem;
    color: #babecc;
    background-color: #1b2d35;
    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 5px #babecc,
        -5px -5px 10px #1f3540;
    margin: 8px;
    text-align: center;
    font-size: 1.5rem;
}
.turnchage{
    margin: 5px;
}
.bottom-sec {
    position: relative;
    top: 35px;

}

.bottom-sec .you {
    background-color: rgba(49, 195, 190, 255);
    color: black;
}

.bottom-sec .tie {
    background-color: rgba(168, 190, 201, 255);
    color: black;
}

.bottom-sec .comp {
    background-color: #f2b237;
    color: black;
}

.btn-class .youp .tiep .compp {
    position: absolute;
    text-align: center;
    top: 50%;
    right: 50%;

}
#popupDiv {
    display: none; /* Hide the div by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #babecc;
    padding: 20px;
    border-radius: 33px;
    box-shadow: 2px 2px 5px #babecc,
    -5px -5px 10px #738188;
   
  }
  